body{
 margin: 0 auto;
 background-image: url("2880738.jpg");
 background-repeat: no-repeat;
 background-size: 100% 1020px;
}
h1{
    margin-top: 150px;
    text-align: center;
    color: gold;
    font-family: Algerian;
}
h2{
    color: purple;
    font-family: Aparajita;
    font-size: 30px;
    margin-left: 500px;
}
h3{
    color: white;
    margin-left: 500px;
    margin-right: 500px;
}
p{
    color: white;
    margin-left: 500px;
    margin-right: 500px;
}